name: Node.js Package

on:
  push:
    branches:
      - master

jobs:
  publish-gpr:
    runs-on: ubuntu-latest    
    steps:
      - uses: actions/checkout@master
      - uses: actions/setup-node@v1
        with:
          node-version: '14'
          registry-url: https://npm.pkg.github.com/
          scope: '@rajeshv-telus'
      - run: npm install
      - run: npm publish
        env: 
          NODE_AUTH_TOKEN: ${{secrets.GITHUB_TOKEN}}
